body{
	background-image:url(../images/GWW.png);
	margin:10px;
	font-family:Helvetica;
	color:white;
	line-height:1.5;
	text-align:center;
	
	}
.panel01{
	display:flex;
    justify-content:space-between;
	flex-wrap:wrap;
	align-items:center;
	}
.panel02{
	display:flex;
    justify-content:space-between;
	flex-wrap:wrap;
	align-items:center;
	}

#one{
	font-size:100%;
	border:2px solid grey;
	text-align:left;
	padding-left: 15px;
    padding-right: 15px;
	}
#two{
	font-size:100%;
	border:2px solid grey;
	text-align:left;
	padding-left: 15px;
    padding-right: 15px;
}
#three{
	font-size:100%;
	border:2px solid grey;	
	text-align:left;
	padding-left: 15px;
    padding-right: 15px;
}

p{
	color:white;
	font-family: Arial;
}
h1{
	color:white;
	font-size:250%;
	font-family:Tahoma;
	text-shadow: 2px 2px black;
}
h2{
	color:white;
    font-size:200%;
	font-family:Tahoma;
	text-shadow: 2px 2px grey;
}
h3{
	color:white;
    font-size:150%;
	font-family:Tahoma;
	text-shadow: 2px 2px grey;
}
h6{
	color:#87CEEB;
	font-family:Tahoma;
	
}
.bold{
	font-weight:bold;
	text-decoration:underline;
}
.fancy{
	list-style-type:square;
}
.plain{
	list-style-type:circle;
}


.div{
	display:flex;
}
#header{
	background:#cccccc;
	font-size:200%;
}
#main{
	min-height:600px;
	background-image: url(db.png);
	font-size:150%;
}
#header1{
	flex:2;	
	text-align:center;	
}
.link,.foot{
	flex:3;
	text-align:center;	
}
#header2{
	display:flex;
	flex:10;	
	align-items:center;
}

#content{
	flex:10;
	padding:5%;
}

}
input,textarea{
	font-size:50pt;
	width:100%;
	height:100px;
}
#header, #main, #footer{
	display:flex;}

#c01{
	float:left;
	width:47%;
	height:350px;
	border:2px solid grey;

}
#c02{
	float:right;
	width:47%;
	height:350px;	
	border:2px solid grey;
